@page
@model AggiungiProdottoModel
@{
    ViewData["Title"] = "AggiungiProdotto";
}


<!--
<div>
    <form method="post">
        <div class="form-group m-1">
            <label for="nome">
            <input type="text" class="form-control form-control-sm" name="nome" placeholder="nome"/></label>
        </div>
        <div class="form-group m-1">
            <label for="quantita">
            <input type="text" class="form-control form-control-sm" name="quantita" placeholder="quantita"/></label>
        </div>
        <div class="form-group m-1">
            <label for="categoria">
-->
            <!--<input type="text" class="form-control form-control-sm" name="categoria" placeholder="categoria"/>-->
<!--
                <select class="form-control" name="categoria">
                    <option value="">Seleziona categoria</option>
                    @foreach(var categoria in Model.Categorie)
                    {
                        <option value ="@categoria">@categoria</option>
                    }
                </select>
            </label>
        </div>
        <div class="form-group m-1">
            <label for="prezzo">
            <input type="text" class="form-control form-control-sm" name="prezzo" placeholder="prezzo" /></label>
        </div>
        <div class="form-group m-1">
            <label for="dettaglio">
            <input type="text" class="form-control form-control-sm" name="dettaglio" placeholder="dettaglio" /></label>
        </div>
        <div class="form-group m-1">
            <label for="immagine">
            <input type="text" class="form-control form-control-sm" name="immagine" placeholder="immagine" /></label>
        </div>
        <div class="form-group m-1">
            <label for="codice">
            <input  for="codice" type="text" class="form-control form-control-sm" name="codice" placeholder="codice" /></label>
            <span asp-validation-formaction="codice" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-dark">Aggiungi</button>
    </form>
</div>
-->

<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h1 class="text-center mb-5">@ViewData["Title"]</h1>
        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nome</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Prodotto.Nome" name="nome" placeholder="nome">
                    <span asp-validation-for="Prodotto.Nome" class="text danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Quantità</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Prodotto.Quantita" name="quantita" placeholder="quantità">
                    <span asp-validation-for="Prodotto.Quantita" class="text danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Prezzo</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Prodotto.Prezzo" name="prezzo" placeholder="prezzo">
                    <span asp-validation-for="Prodotto.Prezzo" class="text danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Dettaglio</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Prodotto.Dettaglio" name="dettaglio" placeholder="dettaglio">
                    <span asp-validation-for="Prodotto.Dettaglio" class="text danger"></span>
                </div>
            </div>

            <div class="row mb-3 center">
                <label class="col-sm-4 col-form-label">Categoria</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Prodotto.Categoria" name="categoria">
                        <option value="">Seleziona categoria</option>
                        @foreach(var categoria in Model.Categorie)
                        {
                            <option value ="@categoria">@categoria</option>
                        }
                    </select>
                    <span asp-validation-for="Prodotto.Categoria" class="text danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Immagine</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Prodotto.Immagine" name="immagine" placeholder="immagine">
                    <span asp-validation-for="Prodotto.Immagine" class="text danger"></span>
                </div>
            </div>

            <div class="row mb-3 center">
                <label class="col-sm-4 col-form-label">Codice</label>
                <div class="col-sm-8">
                    <input class="form-control form-control" asp-for="codice" name="codice" placeholder="codice" />
                    <span asp-validation-for="codice" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}