@model CancellaProdottoViewModel
@{
    ViewData["Title"] = "Cancella Prodotto";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
        <div class="form-group m-1">
            <p>@Model.Prodotto.Nome</p>
            <p>@Model.Prodotto.Quantita</p>
            <p>@Model.Prodotto.Categoria</p>
            <p>@Model.Prodotto.Prezzo</p>
            <p>@Model.Prodotto.Dettaglio</p>
            <p>@Model.Prodotto.Immagine</p>
        </div>
        <button type="submit" class="btn btn-dark">Cancella</button>
    </form>
</div>